  
  h2{
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 20px;
  }

#fuente{
	font-size: 40px ;
	color: #FFFFFF;
	text-align: bottom;
	margin-left: 20%;
}

#header{
	background-color:#cc1a78;
	padding:10px;
	text-shadow:5px 5px 5px #000;
}

#nav ul li a:hover {
    border-bottom:3px #FFF solid;
    }
 
#nav ul li .active {
    border-bottom:3px #FFF solid;
    }
  
h3{
    font-size: 50px;
  }