  @media (max-width: 768px) {
    #header{
      display: none
    }
  }
  h2{
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 20px;
  }

#fuente{
	font-size: 35px ;
	color: #FFFFFF;
	text-align: bottom;
	margin-left: 27%;
}

#header{
	background-color:#cc1a78;
	padding:10px;
	text-shadow:2px 4px 5px #525252;
}

#nav ul li a:hover {
    border-bottom:3px #FFF solid;
    }
 
#nav ul li .active {
    border-bottom:3px #FFF solid;
    }
  
h3{
    font-size: 50px;
  }

.boxResguardo{
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}